.quiz {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;

}

.quiz__wrapper {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;

    background-color: var(--color-white);
    border-radius: 10px;
}

.quiz__wrapper h1 {
    font-size: 24px;
    font-weight: 500;

    color: var(--color-gray);
    text-transform: none;
}

.quiz__wrapper_answer {
   width: 100%;

   display: flex ;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.quiz__wrapper_answer button {
    padding: 15px 20px;
    background-color: var(--color-purple);
    color: white;

    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.quiz__wrapper_answer span {
    color: var(--color-gray);
    font-size: 18px;
}

.quiz__wrapper_answer input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-gray);
}


.quiz__score {
   position: absolute;
   top: 10px;
   right: 0;

   color: var(--color-gray);
   font-size: 18px;
}

.quiz_completed {
    font-size: 30px;
    color: var(--color-gray);
}

