:root {
  --font-sans: 'Open Sans', sans-serif;

  --color-white: #FFFFFF;
  --color-purple: #736cee;
  --color-gray: #6a6681;
  --color-green: #21b573;
  --color-orenge: #f7b95a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body{
    background-color: #f6f2ff;
  }